<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Search History</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <form class="input-group" method="get" th:action="@{/search/{word}}">
        <input class="form-control" name="word" placeholder="Enter your search query" required type="text">
        <div class="input-group-append">
            <button class="btn btn-primary" id="searchButton" type="submit">Search</button>
        </div>
    </form>
    <div class="d-flex justify-content-center mt-3">
        <form method="get" th:action="@{/review}">
            <button class="btn btn-secondary" type="submit">Review</button>
        </form>
    </div>
    <h3 class="mt-2">Search History</h3>
    <div th:replace="fragments/words-list :: words-list-fragment"></div>
</div>

<div aria-hidden="true" aria-labelledby="wordModalLabel" class="modal fade" id="wordModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="wordModalLabel">Word Details</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="mb-2" id="wordText"></h3>
                <p>
                    <em class="text-muted" id="wordPhonetic"></em>
                    <button class="btn btn-link ml-2" id="audioButton">
                        <img alt="Speaker Icon" class="speaker-icon" th:src="@{/image/speaker.png}">
                    </button>
                </p>
                <div id="meaningContainer"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        function populateWordModal(word) {
            var modal = $('#wordModal');

            modal.find('#wordText').text(word.text);
            modal.find('#wordPhonetic').text(word.phonetic);

            var audioButton = modal.find('#audioButton');
            audioButton.off('click').on('click', function () {
                var audio = new Audio(word.audio);
                audio.play();
            });

            var meaningContainer = modal.find('#meaningContainer');
            meaningContainer.empty();
            console.log("word meanings: " + word.meanings)

            $.each(word.meanings, function (index, meaning) {
                var meaningElement = $('<div>').addClass('meaning');
                var partOfSpeechElement = $('<p>').addClass('part-of-speech').text(meaning.partOfSpeech);
                meaningElement.append(partOfSpeechElement);

                console.log("meaningElement " + meaningElement);
                console.log("partOfSpeechElement " + partOfSpeechElement);

                var definitionList = $('<ul>').addClass('definition-list');
                $.each(meaning.definitions, function (defIndex, definition) {
                    var definitionItem = $('<li>').text(definition.definition);
                    definitionList.append(definitionItem);
                });

                meaningElement.append(definitionList);
                meaningContainer.append(meaningElement);
            });

            modal.modal('show');
        }


        $('searchButton').submit(function (event) {
            event.preventDefault();
            const form = $(this);
            const url = form.attr('action');
            const word = form.find('input[name="word"]').val();

            fetch(url.replace('{word}', word))
                .then(async function (response) {
                    console.log("Response", response);
                    console.log("Response ok", response.ok);
                    if (response.ok) {
                        const dataString = await response.text();
                        console.log("dataString", dataString);
                        const data = JSON.parse(dataString);
                        console.log("data", data);
                        populateWordModal(data);
                    } else {
                        throw new Error('Error: ' + response.status);
                    }
                })
                .catch(function (error) {
                    window.alert("An error occurred. Please try again later.");
                    console.log('Error:', error);
                });
        });

        $('.view-word-btn').click(function () {
            const word = $(this).data('word');
            console.log("word on click view detail: " + word)
            populateWordModal(word);
        });

        $('.delete-word-btn').click(function () {
            const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
            const wordId = $(this).data('word-id');

            fetch(`/delete/${wordId}`, {
                method: 'DELETE',
                headers: {
                    [csrfHeader]: csrfToken
                }
            })
                .then(response => {
                    console.log(response);
                    if (!response.ok) {
                        throw new Error('Failed to delete word');
                    } else {
                        window.location.reload()
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        })
    });
</script>

<script>
    function toggleSaveWord(checkbox) {
        const wordId = checkbox.getAttribute('data-word-id');
        console.log("wordId " + wordId);
        console.log("checkbox.checked " + checkbox.checked);
        const isHighlight = checkbox.checked;
        console.log("toggleSaveWord");

        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        fetch(`/words/highlight/${wordId}?isHighlight=${isHighlight}`, {
            method: 'PUT',
            headers: {
                [csrfHeader]: csrfToken
            }
        })
            .then(response => {
                console.log(response);
                if (!response.ok) {
                    throw new Error('Failed to update word highlight state');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                checkbox.checked = !isHighlight;
            });
    }
</script>
</html>