<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>
<body>
<div class="container mt-5">
    <h3>Review</h3>
    <div th:replace="fragments/words-list-review :: words-list-fragment"></div>
</div>
<div class="container fixed-bottom mb-5">
    <div class="row justify-content-center">
        <div class="col-auto">
            <form id="doneForm" method="POST" th:action="@{/review/done}">
                <input type="hidden" id="wordData" name="wordData" th:value="${wordData}">
                <button class="btn btn-primary" type="submit">Done</button>
            </form>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary" id="cancelButton" onclick="window.location.href='/home'">Cancel</button>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="wordModalLabel" class="modal fade" id="wordModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="wordModalLabel">Word Details</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="mb-2" id="wordText"></h3>
                <p>
                    <em class="text-muted" id="wordPhonetic"></em>
                    <button class="btn btn-link ml-2" id="audioButton">
                        <img alt="Speaker Icon" class="speaker-icon" th:src="@{/image/speaker.png}">
                    </button>
                </p>
                <div id="meaningContainer"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        console.log("test")

        function populateWordModal(word) {
            var modal = $('#wordModal');

            modal.find('#wordText').text(word.text);
            modal.find('#wordPhonetic').text(word.phonetic);

            var audioButton = modal.find('#audioButton');
            audioButton.off('click').on('click', function () {
                var audio = new Audio(word.audio);
                audio.play();
            });

            var meaningContainer = modal.find('#meaningContainer');
            meaningContainer.empty();
            console.log("word meanings: " + word.meanings)

            $.each(word.meanings, function (index, meaning) {
                var meaningElement = $('<div>').addClass('meaning');
                var partOfSpeechElement = $('<p>').addClass('part-of-speech').text(meaning.partOfSpeech);
                meaningElement.append(partOfSpeechElement);

                console.log("meaningElement " + meaningElement);
                console.log("partOfSpeechElement " + partOfSpeechElement);

                var definitionList = $('<ul>').addClass('definition-list');
                $.each(meaning.definitions, function (defIndex, definition) {
                    var definitionItem = $('<li>').text(definition.definition);
                    definitionList.append(definitionItem);
                });

                meaningElement.append(definitionList);
                meaningContainer.append(meaningElement);
            });

            modal.modal('show');
        }


        $('.view-word-btn').click(function () {
            var word = $(this).data('word');
            console.log("word on click view detail: " + word)
            populateWordModal(word);
        });

        $('#doneForm').submit(function (event) {
            event.preventDefault();

            // Collect the word texts
            var wordTexts = [];
            $('.list-group-item').each(function () {
                var wordText = $(this).find('.word-text').text();
                console.log("word " + wordText)
                wordTexts.push(wordText);
            });

            // Join the word texts into a comma-separated string
            var wordTextsString = wordTexts.join(',');

            // Set the word texts string in the hidden input field
            $('#wordData').val(wordTextsString);

            // Submit the form
            this.submit();
        });
    });
</script>

</html>